.about {
  position: relative;
  min-height: 505px;
}

.about__wrapper {
  padding: 100px 0 70px 0;
  width: 48.8%;
  margin-left: auto;

  @include vp-1199 {
    padding: 29px 0 50px;
    width: 47.8%;
  }

  @include vp-767 {
    width: 100%;
    padding: 419px 0 50px;
  }
}

.about__background-image {
  position: absolute;
  left: 0;
  top: 96px;
  z-index: -1;

  &--clouds {
    left: 824px;
    top: -73px;
  }

  @include vp-1199 {
    top: 66px;

    &--clouds {
      display: none;
    }
  }

  @include vp-767 {
    top: 0;
  }
}

.about__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include vp-1199 {
    gap: 30px;
  }

  @include vp-767 {
    gap: 45px;
  }
}

.about__title {
  position: relative;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  margin: 0;
  padding-top: 30px;
  margin-bottom: 57px;

  &::after {
    position: absolute;
    content: attr(data-shadow);
    font-size: 55px;
    opacity: 0.03;
    bottom: 6px;
    left: 0;
  }

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 35px;

    &::after {
      font-size: 40px;
      top: 25px;
      left: 0;
    }
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;

    &::after {
      font-size: 26px;
      top: 25px;
      left: 0;
    }
  }
}

.about__subtitle {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin: 0;
  margin-bottom: 14px;

  @include vp-1199 {
    font-size: 18px;
    line-height: 18px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 16px;
    margin-top: -2px;
  }
}

.about__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  max-width: 585px;

  &--one {
    max-width: 570px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
  }
}
