.form {
  @include vp-1199 {
    margin: 0 208px;
  }

  @include vp-767 {
    margin: 0;
  }
}

.form form {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;

  @include vp-1199 {
    flex-direction: column;
    gap: 7px;
  }

  @include vp-767 {
    gap: 6px;
  }
}

.form__input-wrapper input {
  min-width: 341px;
  padding: 22px 30px;
  display: block;
  border: none;

  &:hover {
    outline: 2px solid $color-navy-blue;

    &::placeholder {
      color: $color-navy-blue;
    }
  }

  &:focus,
  &:active {
    outline: 2px solid $color-resolution-blue;

    &::placeholder {
      color: $color-transparent;
    }
  }

  @include vp-1199 {
    padding: 16px 16px;
    width: 100%;
    min-width: 266px;

    &::placeholder {
      font-size: 14px;
      line-height: 14px;
    }
  }

  @include vp-767 {
    padding: 16px 13px;
  }
}

.form__submit {
  width: 238px;
  padding: 19px 60px;
  text-align: center;
  background-color: $color-navy-blue;
  color: $color-default-white;
  user-select: none;
  cursor: pointer;
  border: none;

  &:hover,
  &:focus {
    background-color: $color-default-white;
    color: $color-resolution-blue;
    outline: 1px solid $color-resolution-blue;
  }

  &:active {
    background-color: $color-resolution-blue;
    color: $color-default-white;
  }

  &:disabled {
    background-color: rgba($color-navy-blue, 0.1);
    color: $color-default-white;
    pointer-events: none;
  }

  @include vp-1199 {
    width: 100%;
    min-width: 266px;
    margin-top: 6px;
    padding: 22px 60px 19px;
  }

  @include vp-767 {
    padding: 16px 73px;
    margin-top: 3px;
  }
}
