.header {
  min-height: 145px;
  z-index: 2;

  @include vp-1199 {
    min-height: 104px;
  }

  @include vp-1199 {
    min-height: 86px;
  }
}

.header__wrapper {
  position: relative;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  color: $color-default-white;

  @include vp-1199 {
    padding: 30px 0;
    flex-direction: row;
    column-gap: 71px;
    justify-content: space-around;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: min-content 1fr;
    justify-items: end;
    padding: 15px 0;
  }
}

.header__nav--opened .header__logo-icon {
  @include vp-1199 {
    fill: $color-elephant;
    z-index: 0;
  }
}

.header__logo-icon {
  fill: $color-default-white;

  @include vp-1199 {
    width: 144px;
    height: 44px;
    transition: fill 0.3s ease;
  }

  @include vp-767 {
    width: 112px;
    height: 34px;
  }
}

.header__logo-link:hover svg,
.header__logo-link:focus svg {
  fill: $color-resolution-blue;
}

.header__logo-link:active svg {
  fill: $color-navy-blue;
}

.header__logo-link.is-disabled svg {
  fill: rgba($color-navy-blue, 0.1);
  pointer-events: none;
}

.header__logo-link.is-disabled {
  pointer-events: none;
}

.header__logo-link {
  z-index: 3;
  color: $color-default-white;
  margin-left: 5px;
  order: -1;

  @include vp-1199 {
    transition: color 0.3s ease;
    margin-left: 274px;
    z-index: 3;
  }

  @include vp-767 {
    grid-area: 1/2/2/3;
    margin-left: 0;
    padding-right: 15px;
  }
}

.header__nav--opened ~ .header__logo-link svg {
  @include vp-1199 {
    fill: $color-elephant;
    transition: color 0.3s ease;
  }
}


.header__nav {
  @include vp-1199 {
    position: absolute;
    background-color: $color-default-white;
    transition: top 0.3s ease;
    padding-top: 120px;
    top: -250vh;
    left: 0;
    right: 0;

    &--opened {
      top: 0;
      z-index: 2;
      color: $color-elephant;
    }
  }

  @include vp-767 {
    padding-top: 94px;
  }
}

.header__nav-toggle {
  display: none;
  height: 0;

  @include vp-1199 {
    display: block;
    position: absolute;
    width: 26px;
    height: 19px;
    background-color: $color-transparent;
    z-index: 10;
    cursor: pointer;
    left: 39px;
    top: 41px;
    border: none;
  }

  @include vp-767 {
    left: 8px;
    top: 18px;
  }
}

.header__nav-toggle svg {
  fill: $color-default-white;
}

.header__nav--opened ~ .header__nav-toggle {
  @include vp-1199 {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 9px;
      left: 3px;
      width: 27px;
      height: 2px;
      background-color: $color-elephant;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  @include vp-767 {
    &::before,
    &::after {
      content: "";
      top: 7px;
      left: 5px;
    }
  }
}

.header__nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 710px;
  gap: 5px 22px;
  padding: 0;
  margin-top: 20px;

  @include vp-1199 {
    flex-direction: column;
    margin-top: 0;
    padding: 0 40px 49px;
    gap: 18px;
    flex-wrap: nowrap;
    overflow-y: auto;
    max-height: 90vh;
  }

  @include vp-767 {
    padding: 0 9px 29px;
    gap: 12px;
  }
}

.header__nav-link {
  position: relative;
  color: $color-default-white;
  padding: 5px;

  &::before {
    content: "";
    position: absolute;
    transition: background-color 0.3 ease;
  }

  &:hover {
    &::before {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-default-white;
    }
  }

  &:focus {
    &::before {
      top: 0;
      left: 0;
      width: 100%;
      height: 28px;
      border: 1px solid $color-default-white;
      animation: opacity 0.1 ease;
      background-color: transparent;
    }
  }

  &:active {
    &::before {
      background-color: $color-transparent;
      border: none;
    }
  }

  &.is-disabled {
    color: rgba($color-elephant, 0.5);
    pointer-events: none;
  }

  @include vp-1199 {
    color: $color-elephant;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.64px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }
}

.header__nav--opened .header__nav-link {
  @include vp-1199 {
    &:hover {
      border-bottom: 1px solid $color-elephant;
    }

    &:focus {
      outline: 1px solid $color-elephant;
    }

    &:active {
      border-bottom: none;
      outline: none;
    }

    &.is-disabled {
      color: rgba($color-elephant, 0.5);
      pointer-events: none;
    }
  }
}

.header__phone {
  display: flex;
  flex-wrap: wrap;
  max-width: 170px;
  gap: 5px 0;

  @include vp-767 {
    grid-area: 2/2/3/3;
  }
}

.header__phone a {
  color: $color-default-white;
  font-size: 18px;
  font-weight: 600;
  margin: 20px 5px 20px 0;
  margin-right: 5px;

  &:hover {
    color: $color-resolution-blue;
  }

  &:focus {
    color: $color-resolution-blue;
  }

  &:active {
    color: $color-navy-blue;
  }

  &.is-disabled {
    color: rgba($color-navy-blue, 0.1);
    pointer-events: none;
  }

  @include vp-1199 {
    font-size: 16px;
    margin: 11px 5px 16px 0;
    z-index: 2;
    transition: color 0.3s ease;
  }

  @include vp-767 {
    padding-top: 0;
    font-size: 14px;
    margin: 0;
    margin-left: auto;
    padding-right: 15px;
    margin-top: -4px;
  }
}

.header__nav--opened ~ .header__phone a {
  @include vp-1199 {
    color: $color-elephant;
    transition: color 0.3s ease;
  }
}
